#x {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; }

.hidden {
  display: none !important; }

.highlight {
  font-size: 15px; }

.highlight-main {
  font-size: 35px; }

#apply-coupons-container {
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  #apply-coupons-container #apply-coupons {
    text-align: center;
    background: white;
    position: relative;
    color: #999999;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    max-width: 400px; }
    #apply-coupons-container #apply-coupons #header img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%; }
    #apply-coupons-container #apply-coupons #title div, #apply-coupons-container #apply-coupons #result div, #apply-coupons-container #apply-coupons #result img {
      margin-bottom: 10px; }
    #apply-coupons-container #apply-coupons #title {
      margin-top: 10px;
      margin-bottom: 10px; }
      #apply-coupons-container #apply-coupons #title #title #testing-codes-desc {
        font-size: 14px; }
    #apply-coupons-container #apply-coupons #progress {
      height: 30px;
      border-radius: 18px;
      width: 90%;
      margin-left: 5%;
      padding: 2px; }
      #apply-coupons-container #apply-coupons #progress div {
        height: 100%;
        transition: width 250ms ease-in;
        width: 0;
        border-radius: 18px; }
    #apply-coupons-container #apply-coupons #status-text {
      margin-top: 20px;
      margin-bottom: 20px; }
    #apply-coupons-container #apply-coupons #status-code, #apply-coupons-container #apply-coupons #continue {
      width: 200px;
      margin-left: auto;
      margin-right: auto; }
    #apply-coupons-container #apply-coupons #status-code {
      padding: 10px;
      font-weight: bold; }
      #apply-coupons-container #apply-coupons #status-code:not(.hidden) {
        display: inline-block; }
    #apply-coupons-container #apply-coupons #complete {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px; }
    #apply-coupons-container #apply-coupons #continue {
      font-size: 15px;
      font-weight: 700;
      padding: 15px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 5px;
      display: inline-block;
      cursor: pointer; }
    #apply-coupons-container #apply-coupons #footer {
      border-top: solid 1px #b7b7b7;
      margin-top: 10px;
      padding: 5px;
      text-align: left; }

.highlight, .highlight-main {
  color: #67b5d2; }

#apply-coupons #progress {
  border: solid 1px #67b5d2; }
  #apply-coupons #progress div {
    background: #67b5d2; }

#apply-coupons #status-code {
  border: solid 1px #67b5d2;
  color: #67b5d2; }

#apply-coupons #continue {
  background: #7A68D6;
  color: white; }
